/src/main/webapp/WEB-INF/applicationContext.xml
/src/main/webapp/WEB-INF/hibernate.cfg.xml
/src/main/resources/META-INF/persistence.xml
/src/main/resources/hibernate.cfg.xml
/src/main/webapp/WEB-INF/spring-config.xml